:root {
	--color-dark: #151527;
	--color-light: #f8f5e8;
	--color-accent: #48bfea;
	--color-secondary-light: #c9c9ba;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-light);
	color: var(--color-dark);
}
